.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --text-color: rgba(241, 178, 206, 1);
  --title-color:  rgba(219, 0, 255, 1);
  --heading-color: rgba(0, 0, 40, 1);
  --text-shadow-color: rgba(255, 0, 112, 1);
  --heading-background-color: rgba(255, 0, 112, 1);
  --accent-color:rgba(255, 0, 112, 1);
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --element-rec-color: rgba(255, 0, 112, 1);
  --section-title-color: rgba(255, 0, 112, 1);
  --focus-visible:  rgba(255, 0, 112, 1);
  background-image: url('../images/cover-image-dark.png');
}

@media (prefers-color-scheme: dark) {
  
}
